{% extends 'layouts/base.html.twig' %}

{% block title %}Récupération des données{% endblock %}

{% block body %}
    <div class="container text-center" style="overflow:hidden">
        <h1 style="font-family: 'Mexcellent 3D', 'Fredoka One', cursive;">Bienvenue sur SAUCISTATS</h1>
        <p>Le Top 1 site sur la Saucismash</p>
        <p><small>Récupération des données</small></p>
        <div class="mx-auto" style="width: 100%;max-width: 290px">
            <div class="dots">
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
            </div>
            <div class="dots2">
                <div class="dot2"></div>
                <div class="dot2"></div>
                <div class="dot2"></div>
                <div class="dot2"></div>
                <div class="dot2"></div>
                <div class="dot2"></div>
                <div class="dot2"></div>
                <div class="dot2"></div>
                <div class="dot2"></div>
                <div class="dot2"></div>
            </div>
            <div class="circle"></div>
        </div>
        <!--img id='preloader' src="{{ asset('build/images/Preloader.gif') }}"></img-->
    </div>
{% endblock %}
{% block javascripts %}
<script>
    window.onload = function(){
        window.location.replace('{{ url("app_tournois") }}');
    };
</script>

{% endblock %}