<footer class="container text-center mt-5">
    <p class="text-muted">
        <small>
            &copy; Made by <a target="_blank" href="https://twitter.com/Buch_LilMarty">Lil Marty</a> &middot;
            S/o la <a target="_blank" href="https://twitter.com/TeamBuch">Bûcheuh</a>
        </small>
    </p>
</footer>