<nav class="navbar navbar-expand-sm justify-content-start navbar-dark bg-dark mb-4 border-bottom" style="border-color: black!important;">
    <div class="container">
    <a class="navbar-brand" href="{{ path('app_home') }}" style="font-family: 'Fredoka One', cursive; font-color: white;">
        {#<img src="{{ asset('build/images/Logo_Saucismash.png') }}" alt='SAUCISTATS' height='100px'></img>#}
    SAUCISTATS</a>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link link-light" href="{{ path('classements') }}"><i class="bi bi-list-ol"></i> Classements</a>
        </li>
        <li class="nav-item">
            <a class="nav-link link-light" href="{{ path('anecdotes') }}"><i class="bi bi-body-text"></i> Anecdotes</a>
        </li>
    </ul>
    {# </div>#}
    </div>
</nav>